{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family={{ title_font }}&display=swap"
              rel="stylesheet">
        <link href="{% static 'default.css' %}" rel="stylesheet">
        <link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css"
              rel="stylesheet" />
        <link rel="stylesheet"
              href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.min.css">
        <link href="{% static 'webfonts/all.min.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'apple-touch-icon.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'favicon-32x32.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="16x16"
              href="{% static 'favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <script src="{% static 'preload.js' %}"></script>
    </head>
    <body class="bg-blue-100 text-black dark:text-gray-400 dark:bg-gray-800">
        <div class="flex flex-col justify-center items-center" id="content-block">
            {% block content %}{% endblock %}
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock %}
        </div>
        {% include 'modal.html' %}
        {% block javascript %}
            <script src="{% static 'jquery.min.js' %}"></script>
            <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>
            <script src="{% static 'index.js' %}"></script>
        {% endblock %}
    </body>
</html>
