{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="flex flex-col justify-center items-center h-full bg-blue-100 text-black dark:text-gray-400 
	dark:bg-gray-800" id="content-block">

		<div class="text-3xl">
			<p class="permanent-marker-regular">Iglis.Shop</p>
		</div>
	
		<div class="w-5/6 text-end mb-2">
			{# Dark Mode Toggle button #}
			<button type="button"
			        class="relative rounded-full bg-blue-200 p-1 text-black hover:text-gray-700 focus:outline-none 
					        focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 dark:bg-gray-950
									dark:text-gray-400 dark:hover:text-white"
			        onclick="toggleModal()">
				<span class="absolute -inset-1.5"></span>
				<i class="w-6 fas fa-shopping-basket"></i>
			</button>
			{# Dark Mode Toggle button #}
			<button type="button"
			        class="relative rounded-full bg-blue-200 p-1 text-black hover:text-gray-700 focus:outline-none 
					        focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800 dark:bg-gray-950
									dark:text-gray-400 dark:hover:text-white"
			        onclick="toggleDarkMode()">
				<span class="absolute -inset-1.5"></span>
				<i class="w-6 fas fa-sun"></i>
			</button>
		</div>

		<div class="bg-blue-200 dark:bg-gray-900 rounded w-5/6 p-4" id="table-container">
			<table class="" id="shop-table">
				<thead>
				<tr>
					<th>Item</th>
					<th>#</th>
					<th>Price</th>
					<th>Description</th>
				</tr>
				</thead>
				<tbody>
				{% for item in items %}
					<tr>
						<td class="flex items-center"><p>{{ item.name }}</p>&nbsp;<img src="{{ item.image }}" alt="{{ item.name }}"></td>
						<td>{{ item.qty }}</td>
						<td>{{ item.price }} {{ item.get_units }}</td>
						<td>{{ item.description }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div id="modal" class="absolute left-0 top-0 w-full h-full hidden" onclick="toggleModal()"></div>
	<div class="fixed bg-blue-50 text-black dark:bg-gray-900 dark:text-gray-400 top-1/4 rounded hidden" id="popup">
		<p class="p-4">If you want any of these items please hit up Iglis on Discord @<span class="font-extrabold">kryptosfang</span></p>
	</div>
{% endblock %}
