<div class="fixed z-10 overflow-y-auto top-0 w-full left-0 hidden" id="modal">
	<div class="flex items-center justify-center min-h-dvh">
		<div class="inline-block align-center">
			<div class="rounded bg-blue-50 text-black dark:bg-gray-700 dark:text-gray-400" id="popup">
				<div class="header"><i class="fa fa-circle-xmark fa-lg p-0 m-1" onclick="toggleModal()"></i></div>
				<p class="pb-3 ps-3 pe-3">If you want any of these items please hit up {{ name }} on Discord
					<span class="font-extrabold">@{{ discord_handle }}</span></p>
			</div>
		</div>
	</div>
</div>
